html {
    background-color: lightslategrey;
    position: absolute;
    max-width: 500px;
    top: 43%; 
    left: 43%;
}
 button {
    padding: 6px 25px; 
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: black;
    color:  white;
    background-color: lightgrey;
    border: 6px;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}

table {
    border: 2px solid black;
    border-collapse: initial;
    padding: 6px;
    background-color: lightgreen;
}

elokuvakirjasto {
    background-color: lightblue;
    color: lightgray;
    width: 100%;
}
elokuva {
    color: lightgreen; 
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
}

